{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}

<main class="container pt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5 text-center">
            <h1 class="display-5 mt-2"><b>¡Bienvenido a Garnel Math!</b></h1>
            <p class="display-6 my-5">Matemáticas para programación y Machine Learning con Python.</p>
            <a class="btn btn-light rounded-pill my-4 text-dark" href="{% url 'post_detail' post_id=1 %}">Comenzar</a>
        </div>
    </div>
</main>

<!-- Suscripción -->
<section>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-5">
                <p class="col-md-8 offset-md-2 text-center fs-4">Suscribete para estar al tanto de nuevas actualizaciones o siguenos en nuetras redes sociales.   
                </p>

                <form action="" class="col-8 offset-md-2 d-flex mb-4 py-3" method="POST">
                    {% csrf_token %}
                    <input class="form-control rounded-start-pill" type="email" name="email" id="email" placeholder="Email">
                    <button type="submit" class="btn btn-light text-dark rounded-pill rounded-start">
                    Enviar
                    </button>
                </form>

                <!-- enlaces a redes sociales -->
                <div class="col mb-5 d-flex justify-content-center gap-4">
                    <a href="https://x.com/MarlonCuartas11?s=09" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-x-twitter link-body-emphasis fs-2"></i>
                    </a>
                    <a href="https://github.com/Marlon4789/Garnel-Math" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github link-body-emphasis fs-2"></i>
                    </a>
                    <a href="https://github.com/Marlon4789/Garnel-Math" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-envelope link-body-emphasis fs-2"></i>
                    </a>
                </div>


            </div>
        </div>
    </div>
</section>


{% endblock %}